In [1]:
import pandas as pd
import numpy as np

In [2]:
def answer_one():
    energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skip_rows=3,
                        header=17, skipfooter=38, na_values='...', usecols=[2,3,4,5]) \
               .reset_index()
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy['Country'].replace(to_replace={'Australia1':'Australia',
                                      'China2':'China',
                                      'China, Macao Special Administrative Region4':'China, Macao Special Administrative Region',
                                      'Denmark5':'Denmark',
                                      'Falkland Islands (Malvinas)':'Falkland Islands',
                                      'France6':'France',
                                      'Greenland7':'Greenland',
                                      'Indonesia8':'Indonesia',
                                      'Iran (Islamic Republic of)':'Iran',
                                      'Italy9':'Italy',
                                      'Japan10':'Japan',
                                      'Kuwait11':'Kuwait',
                                      'Micronesia (Federated States of)':'Micronesia',
                                      'Netherlands12':'Netherlands',
                                      'Portugal13':'Portugal',
                                      'Saudi Arabia14':'Saudi Arabia',
                                      'Sint Maarten (Dutch part)':'Sint Maarten',
                                      'Spain16':'Spain',
                                      'Switzerland17':'Switzerland',
                                      'Ukraine18':'Ukraine',
                                      'Venezuela (Bolivarian Republic of)': 'Venezuela',
                                      'Bolivia (Plurinational State of)': 'Bolivia',
                                      "Republic of Korea": "South Korea",
                                      "United States of America20": "United States",
                                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                      "China, Hong Kong Special Administrative Region": "Hong Kong"},
                                inplace=True)
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                            "Iran, Islamic Rep.": "Iran",
                                            "Hong Kong SAR, China": "Hong Kong"},
                                 inplace=True)
    ScimEn = pd.read_excel('scimagojr-3.xlsx', sheet_name='Sheet1')
    merged_df = pd.merge(energy, GDP, left_on='Country', right_on='Country Name')
    merged_df = pd.merge(merged_df, ScimEn, on='Country')
    merged_df = merged_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
                       'Citations per document', 'H index', 'Energy Supply',
                       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
                       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Country']]
    merged_df = merged_df[merged_df['Rank']<= 15].set_index('Country')
    return merged_df

In [63]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

In [64]:
def answer_two():
    energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skip_rows=3,
                        header=17, skipfooter=38, na_values='...', usecols=[2,3,4,5]) \
               .reset_index()
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy['Country'].replace(to_replace={'Australia1':'Australia',
                                      'China2':'China',
                                      'China, Macao Special Administrative Region4':'China, Macao Special Administrative Region',
                                      'Denmark5':'Denmark',
                                      'Falkland Islands (Malvinas)':'Falkland Islands',
                                      'France6':'France',
                                      'Greenland7':'Greenland',
                                      'Indonesia8':'Indonesia',
                                      'Iran (Islamic Republic of)':'Iran',
                                      'Italy9':'Italy',
                                      'Japan10':'Japan',
                                      'Kuwait11':'Kuwait',
                                      'Micronesia (Federated States of)':'Micronesia',
                                      'Netherlands12':'Netherlands',
                                      'Portugal13':'Portugal',
                                      'Saudi Arabia14':'Saudi Arabia',
                                      'Sint Maarten (Dutch part)':'Sint Maarten',
                                      'Spain16':'Spain',
                                      'Switzerland17':'Switzerland',
                                      'Ukraine18':'Ukraine',
                                      'Venezuela (Bolivarian Republic of)': 'Venezuela',
                                      'Bolivia (Plurinational State of)': 'Bolivia',
                                      "Republic of Korea": "South Korea",
                                      "United States of America20": "United States",
                                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                      "China, Hong Kong Special Administrative Region": "Hong Kong"},
                                inplace=True)
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                            "Iran, Islamic Rep.": "Iran",
                                            "Hong Kong SAR, China": "Hong Kong"},
                                 inplace=True)
    ScimEn = pd.read_excel('scimagojr-3.xlsx', sheet_name='Sheet1')
    merged_df = pd.merge(energy, GDP, left_on='Country', right_on='Country Name')
    merged_df = pd.merge(merged_df, ScimEn, on='Country')
    merged_df = merged_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
                       'Citations per document', 'H index', 'Energy Supply',
                       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
                       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Country']]
    return merged_df.shape[0]

In [65]:
answer_two()

160

In [66]:
def answer_three():
    Top15 = answer_one()
    ten_years = list(range(2006, 2016))
    ten_years = list(map(str, ten_years))
    avgGDP = Top15.apply(lambda x: np.ma.average(np.ma.masked_array(x[ten_years],np.isnan(x[ten_years]))), axis=1) \
                  .sort_values(ascending=False)
    return avgGDP

In [67]:
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [96]:
def answer_four():
    Top15 = answer_one()
    ten_years = list(range(2006, 2016))
    ten_years = list(map(str, ten_years))
    Top15['gdp_rank']  = Top15.apply(lambda x: np.ma.average(np.ma.masked_array(x[ten_years],np.isnan(x[ten_years]))), axis=1) \
                              .rank(ascending=False)
    Top15.sort_values('gdp_rank', inplace=True)
    sixth = Top15.iloc[5]
    return sixth.loc['2015'] - sixth.loc['2006']

In [98]:
type(answer_four())

numpy.float64

In [102]:
def answer_five():
    Top15 = answer_one()
    return np.average(Top15['Energy Supply per Capita'])

In [103]:
answer_five()

157.6

In [110]:
def answer_six():
    Top15 = answer_one()
    Top15.sort_values('% Renewable', ascending=False, inplace=True)
    return (Top15.index[0], Top15['% Renewable'].iloc[0])

tuple

In [115]:
def answer_seven():
    Top15 = answer_one()
    Top15['ratio'] = Top15['Self-citations'] / Top15['Citations']
    Top15.sort_values('ratio', ascending=False, inplace=True)
    return (Top15.index[0], Top15['ratio'].iloc[0])

answer_seven()

('China', 0.6893126179389422)

In [119]:
def answer_eight():
    Top15 = answer_one()
    Top15['Est pop'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15.sort_values('Est pop', ascending=False, inplace=True)
    return Top15.index[2]

answer_eight()

'United States'

In [121]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    return Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])

answer_nine()

0.7940010435442942

In [3]:
def answer_ten():
    Top15 = answer_one()
    Top15['med_renew'] = np.median(Top15['% Renewable'])
    Top15['HighRenew'] = Top15.apply(lambda x: 1 if x['% Renewable'] > x['med_renew'] else 0)
    Top15.sort_values('Rank', inplace=True)
    return Top15

answer_ten()

KeyError: ('% Renewable', 'occurred at index Rank')

In [4]:
Top15 = answer_one()

In [5]:
Top15.sort_values?

In [41]:
goulet

[8, 8, 0, nan]

In [42]:
average(goulet)

NameError: name 'average' is not defined

In [43]:
np.average(goulet)

nan

In [44]:
np.ma.masked_array(goulet, np.isnan(goulet))

masked_array(data=[8.0, 8.0, 0.0, --],
             mask=[False, False, False,  True],
       fill_value=1e+20)

In [47]:
np.ma.average(np.ma.masked_array(goulet, np.isnan(goulet)))

5.333333333333333