In [1]:
import pandas as pd
import numpy as np

In [2]:
def answer_one():
    import pandas as pd
    import numpy as np
    energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skiprows=17,
                        skipfooter=38, na_values='...', usecols=[2,3,4,5]) 
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy['Country'].replace(to_replace={'Australia1':'Australia',
                                      'China2':'China',
                                      'China, Macao Special Administrative Region4':'China, Macao Special Administrative Region',
                                      'Denmark5':'Denmark',
                                      'Falkland Islands (Malvinas)':'Falkland Islands',
                                      'France6':'France',
                                      'Greenland7':'Greenland',
                                      'Indonesia8':'Indonesia',
                                      'Iran (Islamic Republic of)':'Iran',
                                      'Italy9':'Italy',
                                      'Japan10':'Japan',
                                      'Kuwait11':'Kuwait',
                                      'Micronesia (Federated States of)':'Micronesia',
                                      'Netherlands12':'Netherlands',
                                      'Portugal13':'Portugal',
                                      'Saudi Arabia14':'Saudi Arabia',
                                      'Sint Maarten (Dutch part)':'Sint Maarten',
                                      'Spain16':'Spain',
                                      'Switzerland17':'Switzerland',
                                      'Ukraine18':'Ukraine',
                                      'Venezuela (Bolivarian Republic of)': 'Venezuela',
                                      'Bolivia (Plurinational State of)': 'Bolivia',
                                      "Republic of Korea": "South Korea",
                                      "United States of America20": "United States",
                                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                      "China, Hong Kong Special Administrative Region": "Hong Kong"},
                                inplace=True)
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                            "Iran, Islamic Rep.": "Iran",
                                            "Hong Kong SAR, China": "Hong Kong"},
                                 inplace=True)
    ScimEn = pd.read_excel('scimagojr-3.xlsx', sheet_name='Sheet1')
    merged_df = pd.merge(energy, GDP, left_on='Country', right_on='Country Name')
    merged_df = pd.merge(merged_df, ScimEn, on='Country')
    merged_df = merged_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
                       'Citations per document', 'H index', 'Energy Supply',
                       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
                       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Country']]
    merged_df = merged_df[merged_df['Rank']<= 15].set_index('Country')
    return merged_df

In [46]:
answer_one().shape

(15, 20)

In [4]:
def answer_two():
    energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skip_rows=3,
                        header=17, skipfooter=38, na_values='...', usecols=[2,3,4,5]) \
               .reset_index()
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy['Country'].replace(to_replace={'Australia1':'Australia',
                                      'China2':'China',
                                      'China, Macao Special Administrative Region4':'China, Macao Special Administrative Region',
                                      'Denmark5':'Denmark',
                                      'Falkland Islands (Malvinas)':'Falkland Islands',
                                      'France6':'France',
                                      'Greenland7':'Greenland',
                                      'Indonesia8':'Indonesia',
                                      'Iran (Islamic Republic of)':'Iran',
                                      'Italy9':'Italy',
                                      'Japan10':'Japan',
                                      'Kuwait11':'Kuwait',
                                      'Micronesia (Federated States of)':'Micronesia',
                                      'Netherlands12':'Netherlands',
                                      'Portugal13':'Portugal',
                                      'Saudi Arabia14':'Saudi Arabia',
                                      'Sint Maarten (Dutch part)':'Sint Maarten',
                                      'Spain16':'Spain',
                                      'Switzerland17':'Switzerland',
                                      'Ukraine18':'Ukraine',
                                      'Venezuela (Bolivarian Republic of)': 'Venezuela',
                                      'Bolivia (Plurinational State of)': 'Bolivia',
                                      "Republic of Korea": "South Korea",
                                      "United States of America20": "United States",
                                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                      "China, Hong Kong Special Administrative Region": "Hong Kong"},
                                inplace=True)
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                            "Iran, Islamic Rep.": "Iran",
                                            "Hong Kong SAR, China": "Hong Kong"},
                                 inplace=True)
    ScimEn = pd.read_excel('scimagojr-3.xlsx', sheet_name='Sheet1')
    merged_df = pd.merge(energy, GDP, left_on='Country', right_on='Country Name')
    merged_df = pd.merge(merged_df, ScimEn, on='Country')
    merged_df = merged_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
                       'Citations per document', 'H index', 'Energy Supply',
                       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
                       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Country']]
    return merged_df

In [6]:
test = answer_two()

In [14]:
GDP = pd.read_csv('world_bank.csv', skiprows=4)
GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                            "Iran, Islamic Rep.": "Iran",
                                            "Hong Kong SAR, China": "Hong Kong"},
                                 inplace=True)
GDP[GDP['Country Name'].str.contains('Ir')]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
108,Ireland,IRL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.249653e+11,2.374346e+11,2.323003e+11,2.192023e+11,2.200761e+11,2.257719e+11,2.261131e+11,2.293562e+11,2.412813e+11,2.601287e+11
109,Iran,IRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.500820e+10,6.072406e+10,6.552689e+10,7.014134e+10,7.608598e+10,8.904776e+10,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
110,Iraq,IRQ,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.147716e+11,1.163527e+11,1.259263e+11,1.301818e+11,1.385167e+11,1.489698e+11,1.697309e+11,1.808859e+11,1.770543e+11,1.807724e+11

In [66]:
def answer_three():
    Top15 = answer_one()
    ten_years = list(range(2006, 2016))
    ten_years = list(map(str, ten_years))
    avgGDP = Top15.apply(lambda x: np.ma.average(np.ma.masked_array(x[ten_years],np.isnan(x[ten_years]))), axis=1) \
                  .sort_values(ascending=False)
    return avgGDP

In [67]:
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [96]:
def answer_four():
    Top15 = answer_one()
    ten_years = list(range(2006, 2016))
    ten_years = list(map(str, ten_years))
    Top15['gdp_rank']  = Top15.apply(lambda x: np.ma.average(np.ma.masked_array(x[ten_years],np.isnan(x[ten_years]))), axis=1) \
                              .rank(ascending=False)
    Top15.sort_values('gdp_rank', inplace=True)
    sixth = Top15.iloc[5]
    return sixth.loc['2015'] - sixth.loc['2006']

In [98]:
type(answer_four())

numpy.float64

In [102]:
def answer_five():
    Top15 = answer_one()
    return np.average(Top15['Energy Supply per Capita'])

In [103]:
answer_five()

157.6

In [110]:
def answer_six():
    Top15 = answer_one()
    Top15.sort_values('% Renewable', ascending=False, inplace=True)
    return (Top15.index[0], Top15['% Renewable'].iloc[0])

tuple

In [115]:
def answer_seven():
    Top15 = answer_one()
    Top15['ratio'] = Top15['Self-citations'] / Top15['Citations']
    Top15.sort_values('ratio', ascending=False, inplace=True)
    return (Top15.index[0], Top15['ratio'].iloc[0])

answer_seven()

('China', 0.6893126179389422)

In [119]:
def answer_eight():
    Top15 = answer_one()
    Top15['Est pop'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15.sort_values('Est pop', ascending=False, inplace=True)
    return Top15.index[2]

answer_eight()

'United States'

In [121]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    return Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])

answer_nine()

0.7940010435442942

In [13]:
def answer_ten():
    Top15 = answer_one()
    Top15['med_renew'] = np.median(Top15['% Renewable'])
    Top15['HighRenew'] = Top15.apply(lambda x: 1 if x['% Renewable'] > x['med_renew'] else 0, axis=1)
    Top15.sort_values('Rank', inplace=True)
    HighRenew = Top15['HighRenew']
    return HighRenew

answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

In [21]:
def answer_eleven():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15['continent'] = pd.Series(ContinentDict)
    Top15['Est pop'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    cont_sum = Top15.groupby('continent')['Est pop'].agg({'size': np.size,
                                               'sum': np.sum,
                                               'mean': np.mean,
                                               'std': np.std})
    return cont_sum

answer_eleven()

C:\Users\jwharton\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

               size           sum          mean           std
continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

In [38]:
def answer_twelve():
    Top15 = answer_one()
    Top15['% Renewable bins'] = pd.cut(Top15['% Renewable'], 5)
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15['Continent'] = pd.Series(ContinentDict)
    Top15 = Top15.reset_index()
    summary = Top15.groupby(['Continent', '% Renewable bins']).agg({'Country':np.size})
    return summary['Country']

answer_twelve()

Continent      % Renewable bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
Name: Country, dtype: int64

In [29]:
type(answer_twelve())

C:\Users\jwharton\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

pandas.core.frame.DataFrame

In [43]:
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = (Top15['Energy Supply'] / Top15['Energy Supply per Capita']).apply('{:,}'.format)
    PopEst = Top15['PopEst']
    return PopEst

answer_thirteen()

Country
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Canada                  35,239,864.86486486
China                 1,367,645,161.2903225
France                  63,837,349.39759036
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
Iran                    77,075,630.25210084
Italy                  59,908,256.880733944
Japan                  127,409,395.97315437
South Korea            49,805,429.864253394
Russian Federation            143,500,000.0
Spain                    46,443,396.2264151
United Kingdom         63,870,967.741935484
United States          317,615,384.61538464
Name: PopEst, dtype: object

In [43]:
np.average(goulet)

nan

In [44]:
np.ma.masked_array(goulet, np.isnan(goulet))

masked_array(data=[8.0, 8.0, 0.0, --],
             mask=[False, False, False,  True],
       fill_value=1e+20)

In [47]:
np.ma.average(np.ma.masked_array(goulet, np.isnan(goulet)))

5.333333333333333