In [1]:
import pandas as pd
import numpy as np

In [129]:
def answer_one():
    energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skip_rows=3,
                        header=17, skip_footer=38, na_values='...', usecols=[2,3,4,5]) \
               .reset_index()
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy['Country'].replace(to_replace={'Australia1':'Australia',
                                      'China2':'China',
                                      'China, Macao Special Administrative Region4':'China, Macao Special Administrative Region',
                                      'Denmark5':'Denmark',
                                      'Falkland Islands (Malvinas)':'Falkland Islands',
                                      'France6':'France',
                                      'Greenland7':'Greenland',
                                      'Indonesia8':'Indonesia',
                                      'Iran (Islamic Republic of)':'Iran',
                                      'Italy9':'Italy',
                                      'Japan10':'Japan',
                                      'Kuwait11':'Kuwait',
                                      'Micronesia (Federated States of)':'Micronesia',
                                      'Netherlands12':'Netherlands',
                                      'Portugal13':'Portugal',
                                      'Saudi Arabia14':'Saudi Arabia',
                                      'Sint Maarten (Dutch part)':'Sint Maarten',
                                      'Spain16':'Spain',
                                      'Switzerland17':'Switzerland',
                                      'Ukraine18':'Ukraine',
                                      'Venezuela (Bolivarian Republic of)': 'Venezuela',
                                      'Bolivia (Plurinational State of)': 'Bolivia',
                                      "Republic of Korea": "South Korea",
                                      "United States of America20": "United States",
                                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                      "China, Hong Kong Special Administrative Region": "Hong Kong"},
                                inplace=True)
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                            "Iran, Islamic Rep.": "Iran",
                                            "Hong Kong SAR, China": "Hong Kong"},
                                 inplace=True)
    ScimEn = pd.read_excel('scimagojr-3.xlsx', sheet_name='Sheet1')
    merged_df = pd.merge(energy, GDP, left_on='Country', right_on='Country Name')
    merged_df = pd.merge(merged_df, ScimEn, on='Country')
    merged_df = merged_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
                       'Citations per document', 'H index', 'Energy Supply',
                       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
                       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Country']]
    merged_df = merged_df[merged_df['Rank']<= 15].set_index('Country')
    return merged_df

In [131]:
answer_one().shape

(15, 20)

In [132]:
def answer_two():
    energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skip_rows=3,
                        header=17, skip_footer=38, na_values='...', usecols=[2,3,4,5]) \
               .reset_index()
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy['Country'].replace(to_replace={'Australia1':'Australia',
                                      'China2':'China',
                                      'China, Macao Special Administrative Region4':'China, Macao Special Administrative Region',
                                      'Denmark5':'Denmark',
                                      'Falkland Islands (Malvinas)':'Falkland Islands',
                                      'France6':'France',
                                      'Greenland7':'Greenland',
                                      'Indonesia8':'Indonesia',
                                      'Iran (Islamic Republic of)':'Iran',
                                      'Italy9':'Italy',
                                      'Japan10':'Japan',
                                      'Kuwait11':'Kuwait',
                                      'Micronesia (Federated States of)':'Micronesia',
                                      'Netherlands12':'Netherlands',
                                      'Portugal13':'Portugal',
                                      'Saudi Arabia14':'Saudi Arabia',
                                      'Sint Maarten (Dutch part)':'Sint Maarten',
                                      'Spain16':'Spain',
                                      'Switzerland17':'Switzerland',
                                      'Ukraine18':'Ukraine',
                                      'Venezuela (Bolivarian Republic of)': 'Venezuela',
                                      'Bolivia (Plurinational State of)': 'Bolivia',
                                      "Republic of Korea": "South Korea",
                                      "United States of America20": "United States",
                                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                      "China, Hong Kong Special Administrative Region": "Hong Kong"},
                                inplace=True)
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                            "Iran, Islamic Rep.": "Iran",
                                            "Hong Kong SAR, China": "Hong Kong"},
                                 inplace=True)
    ScimEn = pd.read_excel('scimagojr-3.xlsx', sheet_name='Sheet1')
    merged_df = pd.merge(energy, GDP, left_on='Country', right_on='Country Name')
    merged_df = pd.merge(merged_df, ScimEn, on='Country')
    merged_df = merged_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
                       'Citations per document', 'H index', 'Energy Supply',
                       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
                       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Country']]
    return merged_df.shape[0]

In [135]:
answer_two()

160

In [ ]:
energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skip_rows=3,
                       header=17, skip_footer=38, na_values='...', usecols=[2,3,4,5]) \
           .reset_index()

In [102]:
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy['Energy Supply'] = energy['Energy Supply'] * 1000000

In [128]:
energy['Country'].replace(to_replace={'Australia1':'Australia',
                                      'China2':'China',
                                      'China, Macao Special Administrative Region4':'China, Macao Special Administrative Region',
                                      'Denmark5':'Denmark',
                                      'Falkland Islands (Malvinas)':'Falkland Islands',
                                      'France6':'France',
                                      'Greenland7':'Greenland',
                                      'Indonesia8':'Indonesia',
                                      'Iran (Islamic Republic of)':'Iran',
                                      'Italy9':'Italy',
                                      'Japan10':'Japan',
                                      'Kuwait11':'Kuwait',
                                      'Micronesia (Federated States of)':'Micronesia',
                                      'Netherlands12':'Netherlands',
                                      'Portugal13':'Portugal',
                                      'Saudi Arabia14':'Saudi Arabia',
                                      'Sint Maarten (Dutch part)':'Sint Maarten',
                                      'Spain16':'Spain',
                                      'Switzerland17':'Switzerland',
                                      'Ukraine18':'Ukraine',
                                      'Venezuela (Bolivarian Republic of)': 'Venezuela',
                                      'Bolivia (Plurinational State of)': 'Bolivia',
                                      "Republic of Korea": "South Korea",
                                      "United States of America20": "United States",
                                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                      "China, Hong Kong Special Administrative Region": "Hong Kong"},
                           inplace=True)

In [79]:
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [89]:
GDP = pd.read_csv('world_bank.csv', skiprows=4)
GDP['Country Name'].replace(to_replace={"Korea, Rep.": "South Korea", 
                                   "Iran, Islamic Rep.": "Iran",
                                   "Hong Kong SAR, China": "Hong Kong"},
                      inplace=True)

In [96]:
GDP[GDP['Country Name'].str.contains( 'Hon')]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
93,Hong Kong,HKG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,1.764691e+10,...,2.019164e+11,2.149698e+11,2.195440e+11,2.141452e+11,2.286377e+11,2.396459e+11,2.437206e+11,2.512081e+11,2.577757e+11,2.638606e+11
94,Honduras,HND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.234327e+09,2.275788e+09,2.406984e+09,2.493164e+09,2.628210e+09,2.865726e+09,...,1.413979e+10,1.501480e+10,1.565017e+10,1.526961e+10,1.583934e+10,1.644689e+10,1.712593e+10,1.760401e+10,1.814714e+10,1.880683e+10

In [97]:
ScimEn = pd.read_excel('scimagojr-3.xlsx', sheet_name='Sheet1')
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102
16,17,Turkey,5879,5827,91857,23165,15.62,104
17,18,Norway,5675,5634,32693,6024,5.76,74
18,19,Netherlands,5170,5105,48351,6067,9.35,85
19,20,Sweden,4565,4494,57889,9632,12.68,95
20,21,Malaysia,3914,3881,25545,6597,6.53,62
21,22,Switzerland,3636,3599,38962,6186,10.72,81
22,23,Denmark,3531,3494,37254,6191,10.55,85
23,24,Mexico,3249,3214,21524,4145,6.62,57
24,25,Poland,3123,3102,24852,5395,7.96,55
25,26,Saudi Arabia,2979,2930,21208,2469,7.12,61
26,27,Greece,2866,2835,41662,6226,14.54,82
27,28,Egypt,2789,2752,19123,2778,6.86,55
28,29,Belgium,2697,2642,23720,3300,8.79,63
29,30,Singapore,2488,2443,36098,3700,14.51,81
...,...,...,...,...,...,...,...,...
161,162,Greenland,3,3,49,0,16.33,2
162,163,Afghanistan,3,3,0,0,0.00,0
163,164,Cape Verde,3,3,5,0,1.67,1
164,165,French Guiana,3,3,1,1,0.33,1
165,166,Samoa,3,3,13,1,4.33,1
166,167,Cayman Islands,2,2,2,0,1.00,1
167,168,Andorra,2,2,13,0,6.50,1
168,169,Antigua and Barbuda,2,2,0,0,0.00,0
169,170,Haïti,2,2,4,1,2.00,1
170,171,Nauru,2,2,0,0,0.00,0
171,172,Seychelles,2,2,7,2,3.50,1
172,173,Mali,2,2,0,0,0.00,0
173,174,Bermuda,2,2,12,0,6.00,1
174,175,Chad,2,2,0,0,0.00,0
175,176,Burundi,2,2,23,0,11.50,1
176,177,Liberia,1,1,1,0,1.00,1
177,178,Togo,1,1,0,0,0.00,0
178,179,British Indian Ocean Territory,1,1,37,0,37.00,1
179,180,American Samoa,1,1,0,0,0.00,0
180,181,Saint Helena,1,1,1,0,1.00,1
181,182,Gibraltar,1,1,0,0,0.00,0
182,183,Maldives,1,1,1,0,1.00,1
183,184,Gambia,1,1,0,0,0.00,0
184,185,Belize,1,1,6,0,6.00,1
185,186,Palau,1,1,0,0,0.00,0
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

In [120]:
merged_df = pd.merge(energy, GDP, left_on='Country', right_on='Country Name')
merged_df = pd.merge(merged_df, ScimEn, on='Country')
merged_df.head()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Afghanistan,3.210000e+08,10.0,78.669280,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,1.973134e+10,1.999032e+10,2.029415e+10,163,3,3,0,0,0.00,0
1,Albania,1.020000e+08,35.0,100.000000,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,1.254247e+10,1.279331e+10,1.312082e+10,118,23,23,168,14,7.30,6
2,Algeria,1.959000e+09,51.0,0.551010,Algeria,DZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.744286e+10,2.370914e+10,...,1.763249e+11,1.830252e+11,1.901632e+11,42,1215,1197,7393,1413,6.08,40
3,American Samoa,NaN,NaN,0.641026,American Samoa,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,NaN,NaN,NaN,180,1,1,0,0,0.00,0
4,Andorra,9.000000e+06,121.0,88.695650,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,3.127550e+09,NaN,NaN,168,2,2,13,0,6.50,1

In [121]:
merged_df = merged_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
                       'Citations per document', 'H index', 'Energy Supply',
                       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
                       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Country']]
merged_df = merged_df[merged_df['Rank']<= 15].set_index('Country')

In [122]:
merged_df.shape

(14, 20)

In [123]:
merged_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

In [127]:
energy[energy['Country'].str.contains('Ira')]

,Country,Energy Supply,Energy Supply per Capita,% Renewable
98,Iran (Islamic Republic of),9.172000e+09,119.0,5.707721
99,Iraq,2.077000e+09,61.0,7.871554