In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [105]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    df = pd.read_csv('university_towns.txt', header=None, sep='\t')
    df.columns = ['combined']
    df['combined'] = df.apply(lambda x: x['combined']+'\t' if '[edit]' in x['combined'] else '\t'+x['combined'],
                              axis=1)
    df['state'] = df['combined'].str.split("\t").str[0]
    df['city'] = df['combined'].str.split("\t").str[1]
    
    return df

df = get_list_of_university_towns()

ValueError: must specify a fill method or value

In [104]:
df.head()

,combined,state,city
0,Alabama[edit]\t,Alabama[edit],
1,\tAuburn (Auburn University)[1],,Auburn (Auburn University)[1]
2,\tFlorence (University of North Alabama),,Florence (University of North Alabama)
3,\tJacksonville (Jacksonville State University)[2],,Jacksonville (Jacksonville State University)[2]
4,\tLivingston (University of West Alabama)[2],,Livingston (University of West Alabama)[2]

In [96]:
df.apply(lambda x: x.str.split("\t")[0], axis=1)

0                                      [Alabama[edit], ]
1                      [, Auburn (Auburn University)[1]]
2             [, Florence (University of North Alabama)]
3      [, Jacksonville (Jacksonville State University...
4         [, Livingston (University of West Alabama)[2]]
5           [, Montevallo (University of Montevallo)[2]]
6                          [, Troy (Troy University)[2]]
7      [, Tuscaloosa (University of Alabama, Stillman...
8                  [, Tuskegee (Tuskegee University)[5]]
9                                       [Alaska[edit], ]
10     [, Fairbanks (University of Alaska Fairbanks)[2]]
11                                     [Arizona[edit], ]
12        [, Flagstaff (Northern Arizona University)[6]]
13                  [, Tempe (Arizona State University)]
14                    [, Tucson (University of Arizona)]
15                                    [Arkansas[edit], ]
16     [, Arkadelphia (Henderson State University, Ou...
17     [, Conway (Central Baptist College, Hendrix Co...
18          [, Fayetteville (University of Arkansas)[7]]
19          [, Jonesboro (Arkansas State University)[8]]
20        [, Magnolia (Southern Arkansas University)[2]]
21     [, Monticello (University of Arkansas at Monti...
22        [, Russellville (Arkansas Tech University)[2]]
23                    [, Searcy (Harding University)[5]]
24                                  [California[edit], ]
25                 [, Angwin (Pacific Union College)[2]]
26             [, Arcata (Humboldt State University)[5]]
27     [, Berkeley (University of California, Berkele...
28     [, Chico (California State University, Chico)[2]]
29     [, Claremont (Claremont McKenna College, Pomon...
                             ...
537        [, Cheney (Eastern Washington University)[2]]
538    [, Ellensburg (Central Washington University)[5]]
539         [, Pullman (Washington State University)[5]]
540    [, University District, Seattle (University of...
541                              [West Virginia[edit], ]
542                   [, Athens (Concord University)[2]]
543    [, Buckhannon (West Virginia Wesleyan College)...
544          [, Fairmont (Fairmont State University)[2]]
545           [, Glenville (Glenville State College)[2]]
546              [, Huntington (Marshall University)[2]]
547    [, Montgomery (West Virginia University Instit...
548         [, Morgantown (West Virginia University)[2]]
549           [, Shepherdstown (Shepherd University)[2]]
550        [, West Liberty (West Liberty University)[2]]
551                                  [Wisconsin[edit], ]
552                   [, Appleton (Lawrence University)]
553    [, Eau Claire (University of Wisconsin–Eau Cla...
554    [, Green Bay (University of Wisconsin-Green Bay)]
555    [, La Crosse (University of Wisconsin–La Cross...
556     [, Madison (University of Wisconsin–Madison)[2]]
557     [, Menomonie (University of Wisconsin–Stout)[2]]
558    [, Milwaukee (Marquette University, University...
559        [, Oshkosh (University of Wisconsin–Oshkosh)]
560    [, Platteville (University of Wisconsin–Platte...
561    [, River Falls (University of Wisconsin–River ...
562    [, Stevens Point (University of Wisconsin–Stev...
563                    [, Waukesha (Carroll University)]
564    [, Whitewater (University of Wisconsin–Whitewa...
565                                    [Wyoming[edit], ]
566               [, Laramie (University of Wyoming)[5]]
Length: 567, dtype: object

In [100]:
df['combined'].str.split("\t").str[0]

0            Alabama[edit]
1
2
3
4
5
6
7
8
9             Alaska[edit]
10
11           Arizona[edit]
12
13
14
15          Arkansas[edit]
16
17
18
19
20
21
22
23
24        California[edit]
25
26
27
28
29
              ...
537
538
539
540
541    West Virginia[edit]
542
543
544
545
546
547
548
549
550
551        Wisconsin[edit]
552
553
554
555
556
557
558
559
560
561
562
563
564
565          Wyoming[edit]
566
Name: combined, Length: 567, dtype: object

In [15]:
x = unis[0]

In [16]:
x

'Alabama[edit]'

In [17]:
x.endswith('[edit]')

True