In [33]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [78]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    df = pd.read_csv('university_towns.txt', header=None, sep='\t')
    df.columns = ['combined']
    df['combined'] = df.apply(lambda x: x['combined']+'\t' if '[edit]' in x['combined'] else '\t'+x['combined'],
                              axis=1)
    df['State'] = df['combined'].str.split("\t").str[0] \
                                .str.split('[').str[0]
    df['RegionName'] = df['combined'].str.split("\t").str[1] \
                                     .str.split(' \(').str[0]
    df = df.applymap(lambda x: np.nan if (x.isspace() or x=='') else x)
    df['State'] = df['State'].fillna(method='ffill')
    df = df[df['RegionName'].notnull()].drop(['combined'], axis=1)
   
    
    return df

df = get_list_of_university_towns()

TypeError: '>' not supported between instances of 'numpy.ndarray' and 'numpy.ndarray'

In [86]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls', skiprows=7)
    df = df.iloc[:,4:7]
    df.columns = ['Quarter', 'GDP in billions of current dollars', 'GDP in billions of chained 2009 dollars']
    df = df.set_index('Quarter')
    df = df[df.index > '2000']
    df['Recession'] = np.nan
    
    return df

df = get_recession_start()

In [88]:
for i in range (np.size(df['GDP in billions of current dollars']) - 1):
    if (df['GDP in billions of current dollars'].iloc[i+1] - df['GDP in billions of current dollars'].iloc[i]) < 0:
        df['Recession'].iloc[i + 1] = 'R'

C:\Users\jwharton\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [90]:
df

,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,Recession
Quarter,,,
2000q1,10031.0,12359.1,NaN
2000q2,10278.3,12592.5,NaN
2000q3,10357.4,12607.7,NaN
2000q4,10472.3,12679.3,NaN
2001q1,10508.1,12643.3,NaN
2001q2,10638.4,12710.3,NaN
2001q3,10639.5,12670.1,NaN
2001q4,10701.3,12705.3,NaN
2002q1,10834.4,12822.3,NaN
2002q2,10934.8,12893.0,NaN
2002q3,11037.1,12955.8,NaN
2002q4,11103.8,12964.0,NaN
2003q1,11230.1,13031.2,NaN
2003q2,11370.7,13152.1,NaN
2003q3,11625.1,13372.4,NaN
2003q4,11816.8,13528.7,NaN
2004q1,11988.4,13606.5,NaN
2004q2,12181.4,13706.2,NaN
2004q3,12367.7,13830.8,NaN
2004q4,12562.2,13950.4,NaN
2005q1,12813.7,14099.1,NaN
2005q2,12974.1,14172.7,NaN
2005q3,13205.4,14291.8,NaN
2005q4,13381.6,14373.4,NaN
2006q1,13648.9,14546.1,NaN
2006q2,13799.8,14589.6,NaN
2006q3,13908.5,14602.6,NaN
2006q4,14066.4,14716.9,NaN
2007q1,14233.2,14726.0,NaN
2007q2,14422.3,14838.7,NaN
...,...,...,...
2009q1,14383.9,14375.0,R
2009q2,14340.4,14355.6,R
2009q3,14384.1,14402.5,NaN
2009q4,14566.5,14541.9,NaN
2010q1,14681.1,14604.8,NaN
2010q2,14888.6,14745.9,NaN
2010q3,15057.7,14845.5,NaN
2010q4,15230.2,14939.0,NaN
2011q1,15238.4,14881.3,NaN
2011q2,15460.9,14989.6,NaN
2011q3,15587.1,15021.1,NaN
2011q4,15785.3,15190.3,NaN
2012q1,15973.9,15291.0,NaN
2012q2,16121.9,15362.4,NaN
2012q3,16227.9,15380.8,NaN
2012q4,16297.3,15384.3,NaN
2013q1,16475.4,15491.9,NaN
2013q2,16541.4,15521.6,NaN
2013q3,16749.3,15641.3,NaN
2013q4,16999.9,15793.9,NaN
2014q1,17025.2,15747.0,NaN
2014q2,17285.6,15900.8,NaN
2014q3,17569.4,16094.5,NaN
2014q4,17692.2,16186.7,NaN
2015q1,17783.6,16269.0,NaN
2015q2,17998.3,16374.2,NaN
2015q3,18141.9,16454.9,NaN
2015q4,18222.8,16490.7,NaN
2016q1,18281.6,16525.0,NaN
2016q2,18450.1,16583.1,NaN

In [82]:
df['GDP in billions of current dollars'].iloc[1]

10278.3

In [16]:
x

'Alabama[edit]'

In [17]:
x.endswith('[edit]')

True