## Pandas

### series

In [1]:
import pandas as pd

In [2]:
animals = ['tiger', 'bear', 'moose']
pd.Series(animals)

0    tiger
1     bear
2    moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['tiger', 'bear', None]
pd.Series(animals)

0    tiger
1     bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

### series from dictionary

In [13]:
dict = {'Archery': 'Bhutan',
       'Golf' : 'Scotland',
       'Sumo' : 'Japan',
       'Taekwondo' : 'South Korea'}
s = pd.Series(dict)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [7]:
uh = pd.Series(['Priscilla', 'Michael', 'Blanket'], index=['Elvis', 'Lisa-Marie', 'Pelvis'])
uh

Elvis         Priscilla
Lisa-Marie      Michael
Pelvis          Blanket
dtype: object

In [8]:
uh = pd.Series(dict, index=['Archery', 'Sumo', 'Tiddlywinks'])
uh

Archery        Bhutan
Sumo            Japan
Tiddlywinks       NaN
dtype: object

### manipulating series

In [9]:
s.iloc[3]

'South Korea'

In [10]:
s.loc['Archery']

'Bhutan'

In [11]:
s[3]

'South Korea'

In [12]:
s['Archery']

'Bhutan'

In [13]:
goulet = pd.Series({23:'goulet',
                   33:'poulet',
                   44:'woulet'})

In [14]:
goulet[0]

KeyError: 0

In [15]:
goulet[1]

KeyError: 1

In [16]:
goulet[23]

'goulet'

In [17]:
goulet.iloc[0]

'goulet'

### Transforming series

#### slow way

In [18]:
t = pd.Series({'gg':3,
              'tt': 5,
              'mm': 7,
              'll': 5})



total = 0
for item in t:
    total+=item
print(total)

20

In [2]:
 import numpy as np

In [20]:
total = np.sum(t)

In [21]:
print(total)

20

#### querying series

In [3]:
biggie = pd.Series(np.random.randint(0, 1000, 10000))

In [4]:
biggie.head()

0    195
1    518
2    834
3     69
4    351
dtype: int64

In [5]:
len(biggie)

10000

In [6]:
%%timeit -n 100
summary = 0
for item in biggie:
   summary += item

937 µs ± 228 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
%%timeit -n 100
summary = np.sum(biggie)

310 µs ± 29.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
biggie += 2

In [9]:
biggie.head()

0    197
1    520
2    836
3     71
4    353
dtype: int64

In [12]:
for label, value in biggie.iteritems():
    biggie.set_value(label, value+2)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [16]:
s.loc['barchery'] = 'putans'

In [17]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
barchery          putans
dtype: object

In [19]:
u = pd.Series([1, 2, 3])

In [20]:
u

0    1
1    2
2    3
dtype: int64

In [22]:
u.loc['Elvis'] = 'Pelvis'

In [23]:
u

0             1
1             2
2             3
Elvis    Pelvis
dtype: object

In [24]:
cricket_lovin = pd.Series(['Australia',
                         'New Zealand',
                          'Sri Lanka'],
                         index=['cricket', 'cricket', 'cricket'])

In [25]:
cricket_lovin

cricket      Australia
cricket    New Zealand
cricket      Sri Lanka
dtype: object

In [26]:
goulet = s.append(cricket_lovin)

In [27]:
goulet

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
barchery          putans
cricket        Australia
cricket      New Zealand
cricket        Sri Lanka
dtype: object

In [28]:
goulet.loc['cricket']

cricket      Australia
cricket    New Zealand
cricket      Sri Lanka
dtype: object

In [1]:
!pwd

/mnt/jovyan/intro_to_ds_python